@media (min-device-width : 1800px) {
  #why-mobile-app {
    height: 86vh!important;
  }
  #content-footer .foot-body .left .body ul li span {
      position: absolute!important;
  }
  .container-content {
    width: 85%;
    margin: auto;
    overflow: hidden;
    /* height: 80%!important; */
    height: auto!important;
  }
  #content-web  {
    display: block!important;
  }
  #content-mobile {
    display: none!important;
  }

  #pos-all-need {
    /* height: 10%!important; */
  }
  .title-for-pc {
    display: block;
  }
  .title-for-mobile {
    display: none;
  }
  .text-desc {
    font-size: 19px!important;
  }
}
@media (max-device-width : 1600px) {
  .text-desc {
    font-size: 19px;
  }
  .title-for-pc {
    display: block;
  }
  .title-for-mobile {
    display: none;
  }
  #why-mobile-app {
    height: 93vh!important;
  }
  #content-web  {
    display: block!important;
  }
  #content-mobile {
    display: none!important;
  }
  #content-footer .foot-body .left .body ul li span {
    position: absolute!important;
  }
  .container-content {
    width: 85%;
    margin: auto;
    overflow: hidden;
    /* height: 80%!important; */
    height: auto!important;
  }
  #why-website-app {
    /* margin-bottom: 10%; */
  }
  #pos-search {
    /* height: 28%!important; */
  }
  #pos-all-need {
    /* height: 28%!important; */
  }
  #pos-all-need {
    /* height: 10%!important; */
  }
}
@media (max-device-width : 1400px) {
  .container-content {
    /* height: 100%!important; */
    height: auto!important;
  }
  #why-mobile-app .pos-content .left #img1 {
    left: 36%;
  }
  #content-footer .foot-body .left .body ul li span {
    position: absolute!important;
  }
  #why-website-app {
    margin-bottom:0!important;
  }
  #pos-search {
    /* height: 28%!important; */
  }
  #why-mobile-app {
    height: 101vh!important;
  }
  #why-mobile-app .pos-content .left #img4 {
    left: 38%;
  }
  #why-mobile-app .pos-content .left #img3 {
    left: 38%;
  }
  #why-mobile-app .pos-content .left #img2 {
    left: 38%;
  }
  #pos-all-need {
    /* height: 15%!important; */
  }
}
@media (max-device-width : 1200px) {
  .po-1200-size {
    padding: 30px;
  }
  #why-mobile-app .pos-content .left #img1 img {
    width: 28%;
  }
  #why-mobile-app .pos-content .left #img4 img {
    width: 73%;
  }
  #why-mobile-app .pos-content .left #img3 img {
    width: 73%;
  }
  #why-mobile-app .pos-content .left #img2 img {
    width: 73%;
  }
  #why-mobile-app .pos-content .left #img4 {
    top: 114px!important;
    left: 157px!important;
  }
  #why-mobile-app .pos-content .left #img3 {
    top: 114px!important;
    left: 157px!important;
  }
  #why-mobile-app .pos-content .left #img2 {
    top: 114px!important;
    left: 157px!important;
  }
  #pos-all-need {
    /* height: 15%!important; */
  }
  #why-choose-us {

  }
  .container-content {
    /* height: 90%!important; */
    height: auto!important;
  }
  #pos-search {
    /* height: 51%!important; */
  }
  #why-mobile-app .pos-content .right {
    padding: 18vh 5vh 5vh!important;
  }
}
@media (max-device-width : 992px) {
  .pos-caro-home {
    margin: 5% 0 2%!important;
  }
  .po-1200-size {
    padding: 30px 30px 0!important;
  }
  .title-our-works {
    margin-top: 0!important;
  }
  .pos-web-dev {
    margin-bottom: 4%!important;
  }
  .pos-cont-why-choose-us {
    margin-top: 1%!important;
  }
  #why-choose-us {
    margin-top: 5%!important;
  }
  .pos-internet-ofting {
    margin-bottom: 4%!important;
  }
  #why-mobile-app .pos-content .left #img4 img {
    width: 61%;
  }
  #why-mobile-app .pos-content .left #img3 img {
    width: 61%;
  }
  #why-mobile-app .pos-content .left #img2 img {
    width: 61%;
  }
  #why-mobile-app .pos-content .left #img4 {
    top: 103px!important;
    left: 154px!important;
  }
  #why-mobile-app .pos-content .left #img3 {
    top: 103px!important;
    left: 154px!important;
  }
  #why-mobile-app .pos-content .left #img2 {
    top: 103px!important;
    left: 154px!important;
  }
  .title-2-pos h4 {
    font-size:19px!important;
  }
  .pos-text-2 p {
    margin-top: 15px!important;
    font-size: 13px!important;
    line-height: 18px!important;
  }
  .content-col3 .body h3 {
    font-size: 16px!important;
  }
  #why-website-app .pos-content .right .body p{
    font-size: 13px!important;
  }
  #why-website-app .pos-content .right .head h3 {
    line-height: 26px!important;
    font-weight: 600!important;
    font-size: 19px!important;
  }
  #img1-why-website img {
    top: 58px!important;
  }
  #img2-why-website img {
    top: 53%;
  }
  #why-choose-us {
    margin-bottom: 4%!important;
    /* height: 133vh!important; */
  }
  .content-col3 .foot p {
    font-size: 14px!important;
  }
  #why-mobile-app .pos-content .right {
    padding: 14vh 5vh 5vh!important;
  }
}
@media (max-device-width : 768px) {
  .pos-cont-search .right .pos-icon-google-search img {
    width: 20%!important;
  }
  .window .content .logo-botom {
    width: 20%!important;
  }
  .item .content-crousel .left .for-mob-im {
    width: 25%!important;
  }
  .content-crousel .left{
    width: 100%!important;
  }
  .content-crousel .right{
    width: 100%!important;
  }
  #myCarousel .carousel-control .fa-chevron-left {
    display: none!important;
  }
  #myCarousel .carousel-control .fa-chevron-right {
    display: none!important;
  }
  #content-footer .foot-body {
    padding: 0!important;
  }
  #content-footer .foot-body .left .body {
    width: 100%!important;
    padding: 0!important;
  }
  #content-footer .foot-body .right {
    width: 100%!important;
    padding: 0!important;
  }
  #content-footer .foot-body .left {
    width: 100%!important;
    margin-bottom: 5%!important;
    padding: 0!important;
  }
  .title-for-pc1 {
    display: none!important;
  }
  .title-for-mobile {
    display: block!important;
  }
  .window .content img {
    width: 60%!important;
  }
  .pos-button-banner {
    display: block!important;
  }
  .text-desc {
    width: 100%!important;
  }
  .pos-text-banner {
    position: absolute;
    bottom: 15%;
    width: 88%!important;
    text-align: center!important;
  }
  .title-for-pc {
    display: none!important;
  }
  .title-for-mobile {
    display: block!important;
  }
  #why-website-app .pos-content .right {
    padding: 0!important;
  }
  #why-mobile-app .pos-content .right {
    padding: 14vh 0 5vh!important;
  }
  #why-mobile-app {
    height: 88vh!important;
  }
  #why-mobile-app .pos-content .left #img4 {
    top: 34%!important;
    left: 37.5%!important;
  }
  #why-mobile-app .pos-content .left #img3 {
    top: 34%!important;
    left: 37.5%!important;
  }
  #why-mobile-app .pos-content .left #img2 {
    top: 34%!important;
    left: 37.5%!important;
  }
  #why-mobile-app .pos-content .left #img4 img {
    width: 80%!important;
  }
  #why-mobile-app .pos-content .left #img3 img {
    width: 80%!important;
  }
  #why-mobile-app .pos-content .left #img2 img {#why-choose-us
    width: 80%!important;
  }
  .window .content img {
    margin: 0px auto 0!important;
  }
  .pos-button-all-suctom {
    margin: 30px 0 20px;
  }
  #why-mobile-app .pos-content .left #img1 img {
    width: 23%!important;
  }
  #why-mobile-app .pos-content .left #img1 {
    left: 0!important;
  }
  #why-mobile-app .pos-content .left {
    width: 100%!important;
  }
  #why-mobile-app .pos-content .right {
    width: 100%!important;
  }
  #Enterprise-services .content-left-services {
    width: 100%!important;
  }
  #Enterprise-services .content-right-services {
    width: 100%!important;
    padding-top: 0!important;
  }
  #our-services .content-right-services {
    width: 100%!important;
  }
  #our-services .content-left-services {
    width: 100%!important;
  }
  .navbar-nav>li>a{
    font-size: 13px;
  }
  #menu-for-PC {
    display: none;
  }
  #menu-for-MO {
    display: block!important;
    position: fixed;
  }
  #content-web  {
    display: none!important;
  }
  #content-mobile {
    display: block!important;
  }
  #our-services .content-right-services {
    height: 78%!important;
  }
  .window .content #img11 {
    left: 0;
    top: 0;
  }
  .window .content #img11 img {
    width: 35%!important;
    margin-top: 0!important;
  }
  .window .content #img21 {
    top: 34px;
    left: 149px;
  }
  .window .content #img21 img {
    width: 87%!important;
    margin-top: 0!important;
  }
  .window .content #img31 {
    top: 34px;
    left: 149px;
  }
  .window .content #img31 img {
    width: 87%!important;
    margin-top: 0!important;
  }
  .window .content #img41 {
    top: 34px;
    left: 149px;
  }
  .window .content #img41 img {
    width: 87%!important;
    margin-top: 0!important;
  }
  .container-content {
    overflow: unset!important;
    /* height: 80%!important; */
    height: auto!important;
  }
  .content-col3 .foot p {
    opacity: 1!important;
  }
  .pos-text-desc-2 {why-choose-us
    padding: 0!important;
  }
  #our-services .content-left-services {
    margin-top: 0!important;
  }
  #Enterprise-services .content-left-services {
    margin-top: 0!important;
  }
  .right-cont-foot {
    width: 100%!important;
    margin: 0!important;
  }
  .center-cont-foot {
    width: 100%!important;#why-choose-us
  }
  .left-cont-foot {
    width: 100%!important;
  }
  .right-cont-foot ul li a img {
    width: 30%!important;
    margin: auto!important;
  }
  #content-footer .foot-body {
    position: relative;
  }
  #content-footer .foot-body .left .body ul li span {
    left: 0.5%!important;
    padding-top: 6px!important;
  }
  #why-website-app .pos-content .right {
    width: 100%!important;
    padding: 0;
  }
  #why-website-app .pos-content .left {
    width: 100%!important;
  }
  #why-website-app .pos-content {
    width: 100%;
    float: left;
  }
  #img1-why-website img {
    top: 0!important;
  }
  #why-website-app {
    /* height: 115vh!important; */
  }
  .pos-cont-search .left {
    width: 100%!important;
    padding: 0!important;
  }
  .pos-cont-search .right {
    width: 100%!important;
    padding: 0!important;
  }
  #img2-why-website img {
    top: 22%;
  }
  #img1-why-website img {
    top: 0!important;
    margin-top:2%!important;
  }
  .pos-cont-search .right .pos-icon-google-search img {
    margin: 75px auto 17px!important;
  }
  .pos-cont-why-choose-us {
    margin-top: 10px;
  }
  .title-1-pos-all-you-need h3 {
    width: 100%!important;
    float: left;
    margin-top:12%!important;
  }
  .title-second h3 {
    width: 100%;
    float: left;
    font-size: 19px!important;
  }
  .content-col3 .foot p {
    text-align: left;
  }
  #pos-all-need .title-1-pos-all-you-need {
    width: 100%;
    float: left;
  }
  #pos-all-need .des {
    width: 100%;
    float: left;
  }
  #why-choose-us {
    margin-bottom: 4%!important;
    /* height: 115vh!important; */
  }
}
@media (max-device-width : 680px) {
  .window .content img {
    margin: 0px auto 12px!important;
  }
  #why-mobile-app .pos-content .left #img4 {
    top: 38%!important;
    left: 36%!important;
  }
  #why-mobile-app .pos-content .left #img3 {
    top: 38%!important;
    left: 36%!important;
  }
  #why-mobile-app .pos-content .left #img2 {
    top: 38%!important;
    left: 36%!important;
  }
  #why-mobile-app .pos-content .left #img4 img {
    width: 70%!important;
  }
  #why-mobile-app .pos-content .left #img3 img {
    width: 70%!important;
  }
  #why-mobile-app .pos-content .left #img2 img {
    width: 70%!important;
  }
  #why-mobile-app {
    height: 79vh!important;
  }
  #our-services .content-left-services {
    width: 100%!important;
  }
  #our-services .content-right-services {
    width: 100%!important;
  }
  .window .content #img11 img {
    width: 38%!important;
    margin-top: 48!important;
  }
  .window .content #img21 img {
    width: 82%!important;
  }
  .window .content #img31 img {
    width: 82%!important;
  }
  .window .content #img41 img {
    width: 82%!important;
  }
  .window .content #img21 {
    top: 32px;
    left: 120px;
  }
  .window .content #img31 {
    top: 32px;
    left: 120px;
  }
  .window .content #img41 {
    top: 32px;
    left: 120px;
  }
  .title-1-pos .right-title h3 {
    text-align: center!important;
    font-size: 4vw!important;
    margin-top: 6%;
  }
  .title-1-pos-2 h3 {
    text-align: center!important;
    font-size: 4vw!important;
  }
  .title-1-pos-2 {
    width: 100%;
    float: left;
  }
  .pos-caro-home {
    margin-top: 11%!important;
  }
  .item .content-crousel .left {
    width: 100%!important;
  }
  .item .content-crousel .right {
    width: 100%!important;
  }
  .content-col3 .foot p {
    text-align: left!important;
  }
  #our-services .content-right-services {
    height: 61%!important;
  }
  #Enterprise-services .content-left-services {
    width: 100%!important;
  }
  #Enterprise-services .content-right-services {
    width: 100%!important;
  }
  #content-footer .foot-body .left {
    width: 100%!important;
    margin-bottom: 25px;
  }
  #content-footer .foot-body .right {
    width: 100%!important;
  }
  .pos-text-desc-2 {
    padding: 0 36px!important;
  }
  .title-2-pos {
    width: 100%;
    float: left;
    margin-top: 11%;
  }
  .secon2 {
    margin-top: 22%!important;
  }
  .size-img-prame-our-services  {
    margin-bottom: 0!important;
    margin-top: 20px!important;
  }
  .size-img-prame-our-services2 {
    margin-top: 20%!important;
  }
  #Enterprise-services .content-right-services {
    margin-bottom: 10%!important;
  }
  .firs-title-font {
    font-size: 5vw!important;
    text-align: center!important;
    background: linear-gradient(to right, #30CFD1 0%, #330867 66%);
  }
  .text-desc {
    font-size: 15px!important;
  }
  .right-cont-foot ul li a img {
    margin-top: 10px!important;
  }

}
@media (max-device-width : 580px) {
  #content-footer .foot-header h3 {
    font-size: 24px!important;
  }
  .pos-cont-search {
    padding: 0!important;
  }
  .pos-text-desc-2 {
    padding: 0 15px!important;
  }
  .title-2-pos {
    margin-top: 0!important;
  }
  #why-mobile-app {
    height: 68vh!important;
  }
  #why-mobile-app .pos-content .left #img4  {
    top: 43%!important;
    left: 33.5%!important;
  }
  #why-mobile-app .pos-content .left #img3  {
    top: 43%!important;
    left: 33.5%!important;
  }
  #why-mobile-app .pos-content .left #img2  {
    top: 43%!important;
    left: 33.5%!important;
  }
  #why-mobile-app .pos-content .left #img4 img {
    width: 59%!important;
  }
  #why-mobile-app .pos-content .left #img3 img {
    width: 59%!important;
  }
  #why-mobile-app .pos-content .left #img2 img {
    width: 59%!important;
  }
  #why-choose-us {
    margin-bottom: 4%!important;
    /* height: 142vw!important; */
  }
  .title-1-pos-all-you-need h3 {
    font-size: 4vw!important;
  }
  #why-website-app {
    /* height: 96vh!important; */
  }
  .window .content #img41 img {
      width: 67%!important;
  }
  .window .content #img31 img {
      width: 67%!important;
  }
  .window .content #img21 img {
      width: 67%!important;
  }
  .window .content #img41 {
      left: 86px;
  }
  .window .content #img31 {
      left: 86px;
  }
  .window .content #img21 {
      left: 86px;
  }
  .pos-cont-why-choose-us-01 {
    width: 50%!important;
  }
  .title-for-pc {
    display: block;
  }
  .title-for-mobile {
    display: none;
  }
}
@media (max-device-width : 480px) {
  .pos-button-all-suctom .btn-all-custom {
    font-size: 13px!important;
  }
  .pos-cont-why-choose-us {
    padding: 0!important;
  }
  .pos-button-all-suctom .btn-all-custom span {
    font-size: 8px!important;
    padding: 5px 6px!important;
    margin-left: 5px!important;
  }
  #our-services .content-left-services {
    padding: 0!important;
  }
  .pos-text-desc-2 {
    padding: 0!important;
  }
  .pos-button-banner .btn-banner span {
    font-size: 8px!important;
    padding: 5px 6px!important;
    margin-left: 5px!important;
  }
  .pos-button-banner .btn-banner {
    font-size: 13px!important;
  }
  .why-mobile-app-a #why-choose-us {
    margin-top: 140px;
    /* height: 154vh!important; */
  }
  #why-mobile-app {
    padding-top: 18%!important;
  }
  #why-mobile-app .pos-content .left #img1 img {
    width: 28%!important;
  }
  #why-mobile-app {
    padding-top: 10%;
    width: 85%!important;
  }
  #why-mobile-app {
    height: 65vh!important;
  }
  #why-mobile-app .pos-content .left #img4  {
    top: 44%!important;
    left: 30%!important;
  }
  #why-mobile-app .pos-content .left #img3  {
    top: 44%!important;
    left: 30%!important;
  }
  #why-mobile-app .pos-content .left #img2  {
    top: 44%!important;
    left: 30%!important;
  }
  #why-mobile-app .pos-content .left #img4 img {
    width: 59%!important;
  }
  #why-mobile-app .pos-content .left #img3 img {
    width: 59%!important;
  }
  #why-mobile-app .pos-content .left #img2 img {
    width: 59%!important;
  }
  #img2-why-website img {
    top: 14%;
  }
  #why-website-app {
    /* height: 83vh!important; */
  }
  .pos-cont-search {
    width: 85%;
    float: none;
    margin: auto;
  }
  .pos-icon-nav img {
    width: 56%!important;
  }
  .pos-icon-nav {
    top: 9px!important;
  }
  .title-1-pos .right-title h3 {
    font-size: 5vw!important;
  }
  .window .content #img41 {
    left: 81px;
  }
  .window .content #img31 {
    left: 81px;
  }
  .window .content #img21 {
    left: 81px;
  }
  .secon2 {
    margin-top: 6%!important;
  }
  .content-col3 .foot p {
    font-size: 12px!important;
  }
  .title-1-pos-2 h3 {
    font-size: 5vw!important;
  }
  .pos-cont-why-choose-us {
    margin-top: 23px!important;
  }
  #myCarousel .carousel-control .fa-chevron-right {
    padding: 7px 9px!important;
    font-size: 2vw!important;
  }
  #myCarousel .carousel-control .fa-chevron-Left {
    padding: 7px 9px!important;
    font-size: 2vw!important;
  }
  #content-footer .foot-body .left .body {
    width: 100%!important;
  }
  #content-footer .foot-body .left {
    position: relative!important;
  }
  .center-cont-foot {
    margin: 0!important;
  }
  .po-1200-size {
    padding: 30px 15px 0!important;
  }
  .carousel-inner {
    width: 100%!important;
  }
  #content-footer .foot-header h3 {
    font-size: 26px!important;
  }
  .window .content .logo-botom {
    width: 41%!important;
  }
}
@media (max-device-width : 420px) {
  #content-footer .foot-header h3 {
    font-size: 24px!important;
  }
  .des p {
    font-size: 15px!important;
  }
  .why-mobile-app-a #why-choose-us {
    margin-top: 140px;
    /* height: 170vh!important; */
  }
  #why-mobile-app .pos-content .right .body p {
    color: #888;
    font-size: 13px!important;
  }
  #why-mobile-app {
    height: 65vh!important;
  }
  #why-mobile-app .pos-content .left #img4  {
    top: 46%!important;
    left: 27%!important;
  }
  #why-mobile-app .pos-content .left #img3  {
    top: 46%!important;
    left: 27%!important;
  }
  #why-mobile-app .pos-content .left #img2  {
    top: 46%!important;
    left: 27%!important;
  }
  #why-mobile-app .pos-content .left #img4 img {
    width: 59%!important;
  }
  #why-mobile-app .pos-content .left #img3 img {
    width: 59%!important;
  }
  #why-mobile-app .pos-content .left #img2 img {
    width: 59%!important;
  }
  #why-mobile-app {
    height: 65vh!important;
    width: 85%!important;
  }
  #why-mobile-app .pos-content .right .head h3 {
    font-size: 18px!important;
  }
  #why-mobile-app .pos-content .left #img1 img {
    width: 32%!important;
  }
  #why-mobile-app {
    padding-top: 16%!important;
  }
  #img1-why-website img {
    padding: 12px;
  }
  .title-1-pos .right-title h3 {
    margin-top: 12%;
  }
  #why-website-app .pos-content .left {
    height: 58%;
  }
  #img2-why-website img {
    top: 14%;
    right: 30px;
  }
  .title-1-pos-all-you-need h3 {
    font-size: 5vw!important;
  }
  #why-website-app .pos-content .right .head h3 {
    font-size: 18px!important;
  }
  #why-choose-us {
    /* height: 196vw!important; */
  }
  .pos-button-banner .btn-banner {
    font-size: 13px!important;
  }
  .pos-button-banner .btn-banner span {
    font-size: 12px!important;
    padding: 4px 6px!important;
  }
  .window .content #img41 img {
      width: 58%!important;
  }
  .window .content #img31 img {
      width: 58%!important;
  }.window .content #img21 img {
      width: 58%!important;
  }
  .window .content #img41 {
    left: 58px;
    top: 25px;
  }
  .window .content #img31 {
    left: 58px;
    top: 25px;
  }
  .window .content #img21 {
    left: 58px;
    top: 25px;
  }
  .title-2-pos h4{
    font-size: 18px!important;
  }
  .pos-text-2 p {
    text-align: left;
    line-height: 17px!important;
  }
  .pos-button-all-suctom .btn-all-custom {
    font-size: 13px!important;
  }
  .pos-button-all-suctom .btn-all-custom span {
    font-size: 13px!important;
    padding: 4px 6px!important;
  }
  .btn-submit-pos .btn-submit span {
    font-size: 13px!important;
    padding: 4px 6px!important;
  }
  .content-col3 {
    margin: 20px 15px 20px 0!important;
  }
}
@media (max-device-width : 380px) {
  .content-col3 {
    margin: 20px 1px 20px 0!important;
  }
  #why-mobile-app .pos-content .left #img1 img {
    width: 36%!important;
  }
  #why-mobile-app {
    height: 65vh!important;
  }
  #why-mobile-app .pos-content .left #img4  {
    top: 46%!important;
    left: 25%!important;
  }
  #why-mobile-app .pos-content .left #img3  {
    top: 46%!important;
    left: 25%!important;
  }
  #why-mobile-app .pos-content .left #img2  {
    top: 46%!important;
    left: 25%!important;
  }
  #why-mobile-app .pos-content .left #img4 img {
    width: 60%!important;
  }
  #why-mobile-app .pos-content .left #img3 img {
    width: 60%!important;
  }
  #why-mobile-app .pos-content .left #img2 img {
    width: 60%!important;
  }
  .title-1-pos-all-you-need h3 {
    font-size: 7vw!important;
  }
  #why-website-app .pos-content .right .head h3 {
    font-size: 17px!important;
  }
  #content-footer .foot-body .left .body ul li {
    font-size: 13px;
    line-height: 25px;
  }
  #content-footer .foot-body .left .body ul li span {
    font-size: 17px;
  }
  .window .content #img41 img {
    width: 50%!important;
  }
  .window .content #img31 img {
    width: 50%!important;
  }
  .window .content #img21 img {
    width: 50%!important;
  }
  .window .content #img41 {
    left: 42px!important;
  }
  .window .content #img31 {
    left: 42px!important;
  }
  .window .content #img21 {
    left: 42px!important;
  }
  .title-1-pos-2 h3 {
    font-size: 7vw!important;
  }
  .title-1-pos .right-title h3 {
    font-size: 7vw!important;
  }
  #content-footer .foot-body .left .body ul li {
    line-height: 22px;
  }
  .center-cont-foot ul li a {
    font-size: 13px!important;
  }
  .center-cont-foot ul li {
    padding: 8px;
  }
  .right-cont-foot ul li a img {
    width: 37%!important;
  }
}
@media (max-device-width : 360px) {
  .pos-cont-search .right .pos-icon-google-search img {
    margin: 0px auto 17px!important;
  }
  #content-footer .foot-header h3 {
    font-size: 22px!important;
  }
  #why-mobile-app {
    height: 56vh!important;
  }
  #why-mobile-app .pos-content .left #img1 {
    top: 39px!important;
  }
  #why-mobile-app .pos-content .left #img1 img {
    width: 36%!important;
  }
  #why-mobile-app .pos-content .left #img4  {
    top: 33%!important;
    left: 23.5%!important;
  }
  #why-mobile-app .pos-content .left #img3  {
    top: 33%!important;
    left: 23.5%!important;
  }
  #why-mobile-app .pos-content .left #img2  {
    top: 33%!important;
    left: 23.5%!important;
  }
  #why-mobile-app .pos-content .left #img4 img {
    width: 59%!important;
  }
  #why-mobile-app .pos-content .left #img3 img {
    width: 59%!important;
  }
  #why-mobile-app {
    padding-top: 21%!important;
  }
  #why-mobile-app .pos-content .left #img2 img {
    width: 59%!important;
  }
  .window .content #img41 img {
    width: 45%!important;
  }
  .window .content #img31 img {
    width: 45%!important;
  }
  .window .content #img21 img {
    width: 45%!important;
  }
  .window .content #img41 {
    left: 33px!important;
    top: 22px!important;
  }
  .window .content #img31 {
    left: 33px!important;
    top: 22px!important;
  }
  .window .content #img21 {
    left: 33px!important;
    top: 22px!important;
  }
  #content-footer .foot-body .left .body ul li {
    line-height: 23px!important;
  }
  .center-cont-foot ul li {
    padding: 5px!important;
  }
  .center-cont-foot ul li a {
    font-size: 12px!important;
  }
  .left-cont-foot ul li span {
    font-size: 17px;
  }
  .window .content img {
    width: 82%!important;
  }
}
@media (max-device-width : 320px) {
  #img2-why-website img {
    right: 22px!important;
  }
  #why-website-app {
    padding-top: 23%!important;
  }
  #img1-why-website img {
    padding: 0!important;
  }
  #why-website-app {
    /* height: 60vh!important; */
  }
  #why-choose-us {
    margin-bottom: 4%!important;
    /* height: 133vh!important; */
  }
  .content-col3 {
    padding: 10px 14px 0 0!important;
  }
  #why-mobile-app .pos-content .left #img1 img {
    width: 36%!important;
  }
  #why-mobile-app {
      height: 49vh!important;
  }
  #why-mobile-app .pos-content .left #img4  {
    top: 39%!important;
    left: 20%!important;
  }
  #why-mobile-app .pos-content .left #img3  {
    top: 39%!important;
    left: 20%!important;
  }
  #why-mobile-app .pos-content .left #img2  {
    top: 39%!important;
    left: 20%!important;
  }
  #why-mobile-app .pos-content .left #img4 img {
    width: 51%!important;
  }
  #why-mobile-app .pos-content .left #img3 img {
    width: 51%!important;
  }
  #why-mobile-app .pos-content .left #img2 img {
    width: 51%!important;
  }
  #why-website-app .pos-content .right .head h3 {
    font-size: 20px!important;
  }
  #why-website-app .pos-content .left {
    height: 45%;
  }
  #img2-why-website img {
    top: 3%;
  }

  #our-services .content-left-services .pos-screen {
    width: 90%!important;
  }
  #content-footer .foot-body .left .body ul li {
    font-size: 12px!important;
  }
  .window .content #img41 {
    left: 79px!important;
    top: 29px!important;
  }
  .window .content #img31 {
    left: 79px!important;
    top: 29px!important;
  }
  .window .content #img21 {
    left: 79px!important;
    top: 29px!important;
  }
  .window .content #img41 img {
    width: 64%!important;
  }
  .window .content #img31 img {
    width: 64%!important;
  }
  .window .content #img21 img {
    width: 64%!important;
  }
  .why-mobile-app-a #why-choose-us {
    /* height: 198vh!important; */
  }
  .po-1200-size {
    padding-top:0!important;
  }
}









/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
}
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 1.5) {
}
