/**open same atribut style**/
body {
  margin:0;
  font-family: 'Raleway', sans-serif;
}
@font-face {
  font-family: HelveticaBlkIt;
  src: url("../font/HelveticaBlkIt.woff");
}
.title-for-pc {
  text-align: left;
  text-transform: capitalize!important;
  font-family: 'HelveticaBlkIt', sans-serif;
  letter-spacing: 1px;
  font-size: 3vw;
  color: #000;
  background: linear-gradient(to right, #30CFD0 3%, #552390 27%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
.title-for-pc1{
  text-align: left;
  text-transform: capitalize!important;
  font-family: 'HelveticaBlkIt', sans-serif;
  letter-spacing: 1px;
  font-size: 3vw;
  color: #000;
  background: linear-gradient(to right, #30CFD0 0%, #552390 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
.firs-title-font {
  margin-top:14px;
  text-transform:capitalize!important;
  font-family: 'HelveticaBlkIt', sans-serif;
  font-weight: 700;
  letter-spacing:1px;
  font-size:3vw;
  color:#000;
  text-transform: uppercase;
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.second-title-font {
  font-size:50px;
  color:#000;
}
.text-desc {
  margin-bottom:5px;
  text-transform:capitalize!important;
  font-family: 'Raleway', sans-serif;
  font-size:16px;
  color:#fff;
  letter-spacing:0px;
  line-height:22px;
  width: 582px;
}
.button-all-tema {
  color:#000;
  background:#fff;
  padding:10px 15px;
  border-radius:30px;
  border:1px solid #000;
  -webkit-transition: background 0.5s;
  transition:background 0.5s;
}
.button-all-tema:hover {
  background:#ffa500;
}
.container-content {
    width: 85%;
    margin: auto;
    overflow: hidden;
    height: auto;
}
.pos-button-all-suctom {
  margin: 30px 0 66px;
}
.pos-button-all-suctom .btn-all-custom {
  color: #000;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize!important;
  font-family: 'Raleway', sans-serif;
}
.pos-button-all-suctom .btn-all-custom span {
      font-size: 14px;
      border: 1px solid #000;
      padding: 6px 9px;
      border-radius: 60px;
      margin-left: 19px;;
      color:#000;
}
.pos-button-all-suctom .btn-all-custom span:hover {
    background: #00a79d;
      color: #fff;
    border: 1px solid #fff;
}
.all-text-input-style {
    width: 100%;
    border: none;
    border-bottom:#000 solid 1px;
}
.all-text-input-style:focus {
    outline: none;
}
/**close same atribut style**/

/**open style banner**/
.pos-caro-home {
  margin-top: 100px;
  margin-bottom: 100px;
}
.banner-content {
  background-size:cover;
  height: 85%;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.banner-style {
  padding:0;
  width:100%;
}
.pos-text-banner {
    position: absolute;
    bottom: 15%;
    width: 50%;
    left: 5%;
}
.pos-float-btn {
    position: fixed;
    right: 20px;
    top: 50px;
}
.pos-float-btn ul {
    list-style: none;
}
.pos-float-btn ul li {
    color:#fff;
    text-align: right;
}
.pos-float-btn ul li a {
    color:#fff;
}
.pos-float-btn ul li a:hover {
    color:#fff;
    text-decoration: none;
}
.pos-float-btn ul li span {
    color:#fff;
    padding: 10px 13px;
    border: solid 1px #fff;
    border-radius: 60px;
    background: transparent;
    margin: 0 0 10px 10px;
}
.pos-float-btn ul li span:hover {
  color:#000!important;
  background: #fff;
}
.cr-color-white {
  color:#fff!important;
}
.cr-color-black {
  color:#000!important;
  border: solid 1px #000!important;
}
.text {

}
.pos-button-banner .btn-banner {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize!important;
    font-family: 'Raleway', sans-serif;
}
.pos-button-banner .btn-banner span {
  font-size: 14px;
  border: 1px solid #fff;
  padding: 6px 9px;
  border-radius: 60px;
  margin-left: 19px;
}
.pos-button-banner .btn-banner span:hover {
    background:#00a79d;
    color: #fff;
}
.pos-button-banner {
    margin-top: 30px;
    display: flex;
}
/**close style banner**/

/**open style navbar menus**/

.window {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 65px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 3px;
  background: #fff;
}
.window .header {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: all 0.5s ease-out, background 1s ease-out;
  transition-delay: 0.2s;
  z-index: 5;
}
.window .header .burger-container {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.window .header .burger-container #burger {
  width: 18px;
  height: 8px;
  position: relative;
  display: block;
  margin: -4px auto 0;
  top: 50%;
}
.window .header .burger-container #burger .bar {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  background: #FFF;
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0s;
}
.window .header .burger-container #burger .bar.topBar {
  -webkit-transform: translateY(0px) rotate(0deg);
          transform: translateY(0px) rotate(0deg);
}
.window .header .burger-container #burger .bar.btmBar {
  -webkit-transform: translateY(6px) rotate(0deg);
          transform: translateY(6px) rotate(0deg);
}
.window .header .icon {
  display: inline-block;
  position: absolute;
  height: 100%;
  line-height: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #FFF;
  font-size: 22px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.window .header .icon.icon-bag {
  right: 0;
  top: 0;
  left: auto;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  transition: -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.65s;
}
.window .header ul.menu {
  position: relative;
  display: block;
  padding: 0px 48px 0;
  list-style: none;
}
.window .header ul.menu li.menu-item {
  border-bottom: 1px solid #333;
  margin-top: 35px;
  -webkit-transform: scale(1.15) translateY(-30px);
          transform: scale(1.15) translateY(-30px);
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.window .header ul.menu li.menu-item:nth-child(1) {
  transition-delay: 0.49s;
}
.window .header ul.menu li.menu-item:nth-child(2) {
  transition-delay: 0.42s;
}
.window .header ul.menu li.menu-item:nth-child(3) {
  transition-delay: 0.35s;
}
.window .header ul.menu li.menu-item:nth-child(4) {
  transition-delay: 0.28s;
}
.window .header ul.menu li.menu-item:nth-child(5) {
  transition-delay: 0.21s;
}
.window .header ul.menu li.menu-item:nth-child(6) {
  transition-delay: 0.14s;
}
.window .header ul.menu li.menu-item:nth-child(7) {
  transition-delay: 0.07s;
}
.window .header ul.menu li.menu-item a {
  display: block;
  position: relative;
  color: #FFF;
  font-family: "Ek Mukta", sans-serif;
  font-weight: 100;
  text-decoration: none;
  font-size: 22px;
  line-height: 2.35;
  font-weight: 200;
  width: 100%;
}
.window .header.menu-opened {
  height: 100%;
  background-color: #000;
  transition: all 0.3s ease-in, background 0.5s ease-in;
  transition-delay: 0.25s;
}
.window .header.menu-opened .burger-container {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.window .header.menu-opened .burger-container #burger .bar {
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.2s;
}
.window .header.menu-opened .burger-container #burger .bar.topBar {
  -webkit-transform: translateY(4px) rotate(45deg);
          transform: translateY(4px) rotate(45deg);
}
.window .header.menu-opened .burger-container #burger .bar.btmBar {
  -webkit-transform: translateY(3px) rotate(-45deg);
          transform: translateY(3px) rotate(-45deg);
}
.window .header.menu-opened ul.menu li.menu-item {
  -webkit-transform: scale(1) translateY(0px);
          transform: scale(1) translateY(0px);
  opacity: 1;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(1) {
  transition-delay: 0.27s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(2) {
  transition-delay: 0.34s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(3) {
  transition-delay: 0.41s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(4) {
  transition-delay: 0.48s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(5) {
  transition-delay: 0.55s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(6) {
  transition-delay: 0.62s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(7) {
  transition-delay: 0.69s;
}
.window .header.menu-opened .icon.icon-bag {
  -webkit-transform: translateX(75px);
          transform: translateX(75px);
  transition-delay: 0.3s;
}
.window .content {
  font-family: 'HelveticaBlkIt', sans-serif;
  text-align: justify;
  overflow: scroll;
  max-height: 100%;
}
.window .content::-webkit-scrollbar {
  display: none;
}
.window .content h2 {
  margin-bottom: 0px;
  letter-spacing: 1px;
}
.window .content img {
  width: 95%;
  position: relative;
  display: block;
  margin: 75px auto 75px;
}
.window .content img:nth-of-type(2) {
  margin: 75px auto;
}
.pos-icon-nav {
  position: absolute;
  top:4;
  right: 12px;
}
.pos-icon-nav img {
  width: 66%;
  float: right;
}



/**------------------------------------------------**/
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
        border:none;
        border-radius: 0;
	}



/*Right*/
	.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}

	.modal.right.fade.in .modal-dialog {
		right: 0;
	}
.pos-btn-login .btn-left-log {
    width: 50%;
    float: left;
}
.pos-btn-login .btn-right-log {
    width: 50%;
    float: left;
    padding: 14px;
}
.pos-btn-login .btn-left-log button {
    background: #fff;
    border: none;
}
.pos-btn-login .btn-left-log button span{
    font-size: 18px;
    padding: 10px 13px;
    border:solid 1px #000;
    border-radius: 60px;
    margin-left:10px;
}
.background-white {
    background: #fff;
    -webkit-transition:background 0.5s;
    transition: background 0.5s;
}
.background-transparent {
    background: transparent;
    -webkit-transition:background 0.5s;
    transition: background 0.5s;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand {
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-family: 'HelveticaBlkIt', sans-serif;
    font-weight: 700;
    font-size: 21px;
}
.pos-float-btn {
    position: fixed;
    right: 20px;
    top:65px;
    z-index: 99;
}
.text-menu {
    color:#000!important;
}
.color-white {
    color:#fff;
}
.color-black {
    color:#000;
}
.pos-text-menus ul li .text-menu span {
    padding-right: 10px;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-nav>li>a {
    color:#fff!;
}
.pos-text-menus {
  padding-top: 11px;
}
.pos-nav-name {
    margin-left: 18px!important;
}
.pos-navbar {
  position: fixed;
    z-index: 1000;
    width: 100%;
    border-radius:0;
    border:none;
}
.pos-navbar-right {
  float:right;
}
.float-bnt-custom-color-white {
    color:#fff;
}
.float-bnt-custom-color-black {
    color:#000!important;
}
/**close style navbar menus**/

/**close style Our Services**/
#our-services .title-1-pos {
  text-align:right;
  width:100%;
  margin: 63px 0 34px;
}
.title-1-pos .right-title {
  padding: 0;
}
.title-1-pos .right-title h3 {
  text-align: left;
  padding:0 15px;
  margin-bottom: 43px;
  text-transform: capitalize!important;
  font-family: 'HelveticaBlkIt', sans-serif;
  letter-spacing: 1px;
  font-size: 3vw;
  color: #000;
  background: linear-gradient(to right, #30CFD0 1%, #552390 24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.title-12-pos h3 {
  text-align: right;
  text-transform: capitalize!important;
  font-family: 'HelveticaBlkIt', sans-serif;
  letter-spacing: 1px;
  font-size: 50px;
  color: #000;
  background: linear-gradient(to right, #30CFD0 70%, #330867 104%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding-right: 140px;
}
.title-1-pos-all-you-need h3{
  text-align: center;
  text-transform: capitalize!important;
  font-family: 'HelveticaBlkIt', sans-serif;
  letter-spacing: 1px;
  font-size: 3vw;
  color: #000;
  background: linear-gradient(to right, #30CFD0 24%, #330867 97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
.title-1-pos-2 h3 {
  text-align: left;
  text-transform: capitalize!important;
      font-family: 'HelveticaBlkIt', sans-serif;
      letter-spacing: 1px;
      font-size: 3vw;
      color: #000;
    background: linear-gradient(to right, #30CFD0 3%, #55238F 28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
#our-services .content-left-services {
  /* width:50%;
  float:left;
  margin-top: 76px;
  height: 60%; */
}
#Enterprise-services {
  /* margin-top: 90px; */
}
#Enterprise-services .content-left-services {
  /* width:50%;
  float:left;
  margin-top: 76px; */
}
#Enterprise-services .content-left-services .pos-screen {
  width: 80%;
  margin: auto;
}
#our-services .content-left-services .pos-screen {
  /* width:80%;
  margin:auto; */
}
 #scren-lyer-con {
    position: relative;
}
#scren-lyer-con img {
  width: 100%;
}
.size-img-prame-our-services {
  width:84%;
  margin-left: 19px;
}
#our-services .content-right-services {
  width:50%;
  float:left;
  height: 60%;
}
#Enterprise-services .content-right-services {
  width:50%;
  float:left;
  height: 63%;
  padding-top: 140px;
}
.pos-text-desc-2 {
  /* padding:68px 36px; */
}
.pos-text-desc-2 .pos-btn-2 a {
    color: #000;
}
.pos-text-desc-2 .pos-btn-2 a:focus {
    color: #000;
    text-decoration: none;
}
.pos-text-desc-2 .pos-btn-2 a:active {
    outline: none;
    text-decoration: none;
}
.pos-text-desc-2 .pos-btn-2 a:hover {
    color: #000;
    text-decoration: none;
}
.title-2-pos h4 {
  font-size: 25px;
  color: #000;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 1px;
}
.pos-text-2 p{
  margin-top:30px;
  font-size:17px;
  color:#888;
  line-height:20px;
}
.pos-btn-2 {
  margin-top:80px;
}
.pos-btn-2 a span {
  padding:10px 15px;
  border-radius:30px;
  font-size:15px;
  color:#fff;
  background:#ddd;
}
#img11{
    z-index: 1;
    /* top: 77px;
    left: 146px; */
}
#img11 img {
  position: absolute;
  top: 74px;
  left: 25%;
}
#img21{
    z-index: 2;
    top: 124px;
    left: 161px;
}
#img31{
    z-index: 3;
    top: 124px;
    left: 161px;
}
.img-lyr-41 {
  /* position: relative; */
}
.img-lyr-31 {
  position: absolute;
}
.img-lyr-21 {
  position: absolute;
}
.img-lyr-11 {
  position: absolute;
}
#img41{
    position: absolute;
    z-index: 4;
    top: 124px;
    left: 161px;
}
/**close style Our Services**/

/**open style why choose us**/
#pos-all-need {
  margin-bottom: 4%;
}
#why-choose-us {
  margin-top: 3%;
}
.pos-cont-why-choose-us {
  width: 100%;
  float: left;
  margin-top: 80px;
}
.pos-cont-why-choose-us-01 {
  width:33.3%;
  overflow:hidden;
  float:left;
}
.content-col3 {
  padding: 10px 0;
  margin: 20px 20px 20px 0;
}
.content-col3:hover .text-desc-choose{
  opacity: 1;
}
.content-col3 .head span {
  font-size: 25px;
    padding: 6px 0;
    border-bottom: 1px solid #888;
}
.content-col3 .body h3 {
  font-size:20px;
  color:#888;
  font-weight:bold;
  line-height:20px;
}
.content-col3 .foot p {
  color:#888;
  opacity:0;
  -webkit-transition:opacity 0.5s;
  transition:opacity 0.5s;
}
.content-col3 .foot p:hover {
    opacity:1;
}
/**close style why choose us**/

/**open style our working**/
#our-work {
  /* width:85%;
  margin:auto;
  margin-top: 60px;
  overflow:hidden; */
}
.title-our-works {
  margin-top: 60px;
}
.item .content-crousel .left {
    width: 50%;
    float: left;
    text-align: center;
}
.item .content-crousel .left .for-mob-im {
  width: 30%;
  margin: 0 auto;
}
.item .content-crousel .left img{
    width: 90%;
}
.carousel-indicators {
    bottom: 0px!important;
    z-index: 4!important;
}
.carousel-indicators li {
  background-color: #bdbdb6!important;
}
.carousel-indicators .active {
  background-color: #3498db!important;
}
.item .content-crousel .right {
    width: 50%;
    float: left;
}
#myCarousel .carousel-control {
    background-image: none!important;
}
#myCarousel .carousel-control .fa-chevron-right {
    color:#000;
    padding:10px 13px;
    border: solid 1px #000;
    border-radius: 60px;
    position: absolute;
    right: 0;
    top:50%;
}
#myCarousel .carousel-control .fa-chevron-left {
    color:#000;
    padding:10px 13px;
    border: solid 1px #000;
    border-radius: 60px;
    position: absolute;
    left: 0;
    top:50%;
}
.carousel-inner{
    width: 80%;
    margin: auto;
}
/**close style our working**/


/**Open style why app**/
#why-mobile-app{
  padding-top: 10%;
}
#why-mobile-app .pos-content .left {
    position: relative;
    width: 50%;
    height: 70%;
    float: left;
}
#why-mobile-app .pos-content .right {
    width: 50%;
    float: left;
    padding: 55px;
    padding: 163px 55px 55px;
}
#why-mobile-app .pos-content .right .body p {
  color:#888;
}
#why-mobile-app .pos-content .right .head h3 {
  font-weight: 700;
  line-height: 29px;
}
#why-mobile-app .pos-content .left #img1{
    z-index: 1;
    top: 77px;
    left: 146px;
}

#why-mobile-app .pos-content .left #img2{
    z-index: 2;
    top: 124px;
    left: 161px;
}
#why-mobile-app .pos-content .left #img3{
    z-index: 3;
    top: 124px;
    left: 161px;
}
#why-mobile-app .pos-content .left .img-lyr-4 {
  position: relative;
}
#why-mobile-app .pos-content .left .img-lyr-3 {
  position: absolute;
}
#why-mobile-app .pos-content .left .img-lyr-2 {
  position: absolute;
}
#why-mobile-app .pos-content .left .img-lyr-1 {
  position: absolute;
}
#why-mobile-app .pos-content .left #img4{
    position: absolute;
    z-index: 4;
    top: 124px;
    left: 161px;
}
.pos-btn-google-apple ul{
    list-style: none;
    display: flex;
    padding: 0;
}
.pos-btn-google-apple ul li {
    width: 30%;
}
.pos-btn-google-apple ul li img{
    width: 100%;
    padding: 10px 15px;
}
/**close style why app**/

/**open style why website**/
#img1-why-website img {
    width: 100%;
    position: absolute;
    z-index: 1;
    padding: 55px;
}
#img2-why-website img {
    position: absolute;
    top: 40%;
    right: 62px;
    width: 18%;
    z-index: 2;
}
#pos-search {
    /* width: 85%;
    overflow: hidden;
    margin: auto */
}
.title-second h3 {
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 14px;
}
.pos-cont-search {
  width: 100%;
  float: left;
}
.pos-cont-search .right {
    width: 50%;
    float: left;
    padding: 1px 0 55px 55px;
}
.pos-cont-search .left {
    width: 50%;
    float: left;
    padding: 1px 55px 55px 0;
}
.pos-cont-search .right .pos-icon-google-search{
   text-align: center;
}
.pos-cont-search .right .pos-icon-google-search img{
    width: 20%;
}
.pos-cont-search .right .pos-form-search form .form-group{
    position: relative;
}
.pos-cont-search .right .pos-form-search form .form-group input {
    width: 100%;
    padding: 0 10px;
    border: 1px solid #000;
}
.pos-cont-search .right .pos-form-search form .form-group span {
    position: absolute;
    right: 10px;
    top: 5px;
}
.form-wsp{
  width: 100%;
  float: left;
}
.des p{
    text-align: center;
    color:#000;
    font-size: 20px;
}
#why-website-app .pos-content .right .body p {
  color: #888;
}
.pos-cont-search .left p {
  color: #888;
}
#why-website-app{
  padding-top: 10%;
}
#why-website-app .pos-content {
  width: 100%;
  float: left;
}
#why-website-app .pos-content .left {
    position: relative;
    width: 50%;
    height: 70%;
    float: left;
}
#why-website-app .pos-content .right {
    width: 50%;
    float: left;
    padding: 55px;
    padding: 83px 55px 55px;
}
#why-website-app .pos-content .right .head h3 {
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 14px;
}
#why-website-app .pos-content .left #img1{
    z-index: 1;
    top: 77px;
    left: 146px;
}

#why-website-app .pos-content .left #img2{
    z-index: 2;
    top: 124px;
    left: 161px;
}
#why-website-app .pos-content .left #img3{
    z-index: 3;
    top: 124px;
    left: 161px;
}
#why-website-app .pos-content .left .img-lyr-4 {
  position: relative;
}
#why-website-app .pos-content .left .img-lyr-3 {
  position: absolute;
}
#why-website-app .pos-content .left .img-lyr-2 {
  position: absolute;
}
#why-website-app .pos-content .left .img-lyr-1 {
  position: absolute;
}
#why-website-app .pos-content .left #img4{
    position: absolute;
    z-index: 4;
    top: 124px;
    left: 161px;
}
/**close style why website**/

/**open style footer**/
#content-footer .foot-body  {
  width: 100%;
  float: left;
  /* padding: 0; */
}
#content-footer .foot-body .left .body {
  position: relative!important;
}
#content-footer .foot-body .left .body ul li {
  padding-left: 29px;
}
#content-footer .foot-body .left .body ul li span {
  position: absolute!important;
  left: 0;
}
.pos-internet-ofting {
  margin-bottom: 10%;
}
.pos-web-dev {
  margin-bottom: 10%;
}
.footer-content {
  margin-bottom: 6%;
}
#content-footer{
    /* width: 85%;
    margin: auto;
    overflow: hidden;
    margin-top: 9%;
    margin-bottom: 9%; */
}
#content-footer .foot-body .left {
    width: 50%;
    float: left;
}
#content-footer .foot-body .left .body {
  width: 67%;
}
.gradien-color-title-font   {
        background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      padding-right: 3px;
    }
#content-footer .foot-body .left .foot-title h4 span {
    padding-right: 10px;
}
#content-footer .foot-body .left .body ul{
   list-style: none;
    padding: 0;
}
#content-footer .foot-body .left .body ul li{
    line-height: 30px;
}
#content-footer .foot-body .left .body ul li span{
    font-size: 20px;
    color: #000;
    padding-right: 10px;
}
#content-footer .foot-body .right {
    width: 50%;
    float: left;
}
#content-footer .foot-body .right .post-form form .form-group .text-input{
    width: 100%;
    border: none;
    border-bottom:#000 solid 1px;
}
#content-footer .foot-body .right .post-form form .form-group .text-input:focus{
    outline: none;
}
#content-footer .foot-body .right .post-form form .form-group label {
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
}
.btn-submit-pos .btn-submit span {
  font-size: 14px;
  border: 1px solid #000;
  padding: 6px 9px;
  border-radius: 60px;
  margin-left: 19px;
  color: #000;
}
.btn-submit-pos .btn-submit span:hover  {
  border: 1px solid #fff;
  background: #00a79d;
  color: #fff;
}
#content-footer .foot-header h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}
.btn-submit-pos .btn-submit {
    background: #fff;
    color:#000;
    border:0;
}
.btn-submit-pos .btn-submit:focus {
    outline: none;
}
.con-foot-01 {
  width: 100%;
  float: left;
  padding: 15px 0;
  background: linear-gradient(to right, #30CFD0 -19%, #46315f 104%);
  color: #fff;
}
.left-cont-foot {
  width: 33%;
  float: left;
  text-align: center;
}
.left-cont-foot ul {
  list-style: none;
  display: -webkit-inline-box;
  padding: 0;
  color:#fff;
  margin: 11px 0;
}
.left-cont-foot ul li {
  margin: 0 17px;
}
.left-cont-foot ul li a{
  color:#fff;
}
.left-cont-foot ul li a:hover {
  text-decoration: none;
}
.left-cont-foot ul li span {
  font-size: 25px;
}
.center-cont-foot {
  width: 33%;
  float: left;
  text-align: center;
  margin: 24px 0;
}
.center-cont-foot ul {
  list-style: none;
  padding: 0;
  display: -webkit-inline-box;
}
.center-cont-foot ul li {
  padding: 13px;
}
.center-cont-foot ul li a {
  color:#fff;
}
.center-cont-foot ul li a:hover {
  text-decoration: none;
}
.right-cont-foot {
  width: 33%;
  float: left;
  text-align: center;
  margin: 22px 0;
}
.right-cont-foot ul{
  list-style: none;
  padding: 0;
}
.right-cont-foot ul li a {
  color:#fff;
}
.right-cont-foot ul li a img {
  width: 52%;
}
.right-cont-foot ul li a:hover {
  text-decoration: none;
}

#scroll {
    position:fixed;
    right: 25px;
    bottom: 19px;
    z-index: 8;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#888;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#3498db;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
/**close style footer**/
