/**open same atribut style**/
body {
  margin:0;
}
.firs-title-font {
  margin-top:5px;
  text-transform:capitalize!important;
  font-family: 'Raleway', sans-serif;
letter-spacing:1px;
  font-size:50px;
  color:#000;
  text-transform: uppercase;
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.second-title-font {
  font-size:50px;
  color:#000;
}
.text-desc {
  margin-bottom:5px;
  text-transform:capitalize!important;
  font-family: 'Raleway', sans-serif;
  font-size:24px;
  color:#fff;
  letter-spacing:1px;
  line-height:24px;
}
.button-all-tema {
  color:#000;
  background:#fff;
  padding:10px 15px;
  border-radius:30px;
  border:1px solid #000;
  -webkit-transition: background 0.5s;
  transition:background 0.5s;
}
.button-all-tema:hover {
  background:#ffa500;
}
.container-content {
    width: 85%;
    margin: auto;
    overflow: hidden;
}
.pos-button-all-suctom .btn-all-custom {
    color: #000;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.pos-button-all-suctom .btn-all-custom span {
    font-size: 20px;
    border: 2px solid #0865F1;
    padding:10px 13px;
    border-radius: 60px;
}
.pos-button-all-suctom .btn-all-custom span:hover {
    background: linear-gradient(to right, #0865F1, #C704F6);
    color: #fff;
}
.all-text-input-style {
    width: 100%;
    border: none;
    border-bottom:#000 solid 1px;
}
.all-text-input-style:focus {
    outline: none;
}
/**close same atribut style**/

/**open style banner**/
.banner-content {
  background-size:cover;
  height: 90%;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.banner-style {
  padding:0;
  width:100%;
}
.pos-text-banner {
    position: absolute;
    bottom: 20px;
    width: 50%;
    left: 5%;
}
pos-float-btn {
    position: fixed;
    right: 20px;
    top: 50px;
}
.pos-float-btn ul {
    list-style: none;
}
.pos-float-btn ul li {
    color:#fff;
    text-align: right;
}
.pos-float-btn ul li a {
    color:#fff;
}
.pos-float-btn ul li a:hover {
    color:#fff;
    text-decoration: none;
}
.pos-float-btn ul li span {
    color:#000;
    padding: 10px 13px;
    border: solid 1px #000;
    border-radius: 60px;
    background: #fff;
    margin: 0 0 10px 10px;
}
.text {

}
.pos-button-banner .btn-banner {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.pos-button-banner .btn-banner span {
    font-size: 20px;
    border: 2px solid #0865F1;
    padding:10px 13px;
    border-radius: 60px;
}
.pos-button-banner .btn-banner span:hover {
    background: linear-gradient(to right, #0865F1, #C704F6);
    color: #fff;
}
.pos-button-banner {
    margin-top: 30px;
    display: flex;
}
/**close style banner**/

/**open style navbar menus**/
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
        border:none;
        border-radius: 0;
	}


        
/*Right*/
	.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}
.pos-btn-login .btn-left-log {
    width: 50%;
    float: left;
}
.pos-btn-login .btn-right-log {
    width: 50%;
    float: left;
    padding: 14px;
}
.pos-btn-login .btn-left-log button {
    background: #fff;
    border: none;
}
.pos-btn-login .btn-left-log button span{
    font-size: 18px;
    padding: 10px 13px;
    border:solid 1px #000;
    border-radius: 60px;
    margin-left:10px;
}
.background-white {
    background: #fff;
    -webkit-transition:background 0.5s;
    transition: background 0.5s;
}
.background-transparent {
    background: transparent;
    -webkit-transition:background 0.5s;
    transition: background 0.5s;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand {
    background: linear-gradient(to right, #30CFD0 0%, #f17ddd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.pos-float-btn {
    position: fixed;
    right: 20px;
    top:65px;
    z-index: 99;
}
.text-menu {
    color:#000!important;
}
.color-white {
    color:#fff!important;
}
.color-black {
    color:#000!important;
}
.pos-text-menus ul li .text-menu span {
    padding-right: 10px;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-nav>li>a {
    color:#fff;
}
.pos-navbar {
  position: fixed;
    z-index: 1000;
    width: 100%;
    border-radius:0;
    border:none;
}
.pos-navbar-right {
  float:right;
}
.float-bnt-custom-color-white {
    color:#fff!important;
}
.float-bnt-custom-color-black {
    color:#000!important;
}
/**close style navbar menus**/

/**close style Our Services**/
#our-services .title-1-pos {
  text-align:right;
  width:100%;
  padding-right:300px;
}
.title-1-pos h3 {
  text-transform:capitalize!important;
  font-family: 'Raleway', sans-serif;
  letter-spacing:1px;
  font-size:30px;
    text-align: center;
    font-weight: bold;
  color:#000;
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#our-services .content-left-services {
  width:50%;
  float:left;
}
#our-services .content-left-services .pos-screen {
  width:70%;
  margin:auto;
}
 #scren-lyer-con {
    position: relative;
}
.size-img-prame-our-services {
  width:100%;
}
#our-services .content-right-services {
  width:50%;
  float:left;
    height: 80%;
}
.pos-text-desc-2 {
  padding:68px 80px;
}
.pos-text-desc-2 .pos-btn-2 a {
    color: #000;
}
.pos-text-desc-2 .pos-btn-2 a:focus {
    color: #000;
    text-decoration: none;
}
.pos-text-desc-2 .pos-btn-2 a:active {
    outline: none;
    text-decoration: none;
}
.pos-text-desc-2 .pos-btn-2 a:hover {
    color: #000;
    text-decoration: none;
}
.title-2-pos h4 {
  font-size:25px;
  color:#000;
  line-height:25px;
}
.pos-text-2 p{
  margin-top:30px;
  font-size:17px;
  color:#000;
  line-height:17px;
}
.pos-btn-2 {
  margin-top:80px;
}
.pos-btn-2 a span {
  padding:10px 15px;
  border-radius:30px;
  font-size:15px;
  color:#fff;
  background:#ddd;
}
#img11{
    z-index: 1;
    top: 77px;
    left: 146px;
}

#img21{
    z-index: 2;
    top: 124px;
    left: 161px;
}
#img31{
    z-index: 3;
    top: 124px;
    left: 161px;
}
.img-lyr-41 {
  position: relative;  
}
.img-lyr-31 {
  position: absolute;  
}
.img-lyr-21 {
  position: absolute;  
}
.img-lyr-11 {
  position: absolute;  
}
#img41{
    position: absolute;
    z-index: 4;
    top: 124px;
    left: 161px;
}
/**close style Our Services**/

/**open style why choose us**/
.pos-cont-why-choose-us-01 {
  width:33.3%;
  overflow:hidden;
  float:left;
}
.content-col3 {
  padding: 10px 0;
  margin: 20px 20px 20px 0;
}
.content-col3 .head span {
  font-size: 25px;
    padding: 6px 0;
    border-bottom: 1px solid #888;
}
.content-col3 .body h3 {
  font-size:20px;
  color:#888;
  font-weight:bold;
  line-height:20px;
}
.content-col3 .foot p {
  color:#888;
  opacity:0;
  -webkit-transition:opacity 0.5s;
  transition:opacity 0.5s;
}
.content-col3 .foot p:hover {
    opacity:1;
}
/**close style why choose us**/

/**open style our working**/
#our-work {
  width:85%;
  margin:auto;
  overflow:hidden;
}
.item .content-crousel .left {
    width: 50%;
    float: left;
}
.item .content-crousel .left img{
    width: 100%;
}
.item .content-crousel .right {
    width: 50%;
    float: left;
}
#myCarousel .carousel-control {
    background-image: none!important;
}
#myCarousel .carousel-control .fa-chevron-right {
    color:#000;
    padding:10px 13px;
    border: solid 1px #000;
    border-radius: 60px;
    position: absolute;
    right: 0;
    top:50%;
}
#myCarousel .carousel-control .fa-chevron-left {
    color:#000;
    padding:10px 13px;
    border: solid 1px #000;
    border-radius: 60px;
    position: absolute;
    left: 0;
    top:50%;
}
.carousel-inner{
    width: 80%;
    margin: auto;
}
/**close style our working**/


/**Open style why app**/
#why-mobile-app .pos-content .left {
    position: relative;
    width: 50%;
    height: 70%;
    float: left;
}
#why-mobile-app .pos-content .right {
    width: 50%;
    float: left;
    padding: 55px;
}
#why-mobile-app .pos-content .left #img1{
    z-index: 1;
    top: 77px;
    left: 146px;
}

#why-mobile-app .pos-content .left #img2{
    z-index: 2;
    top: 124px;
    left: 161px;
}
#why-mobile-app .pos-content .left #img3{
    z-index: 3;
    top: 124px;
    left: 161px;
}
#why-mobile-app .pos-content .left .img-lyr-4 {
  position: relative;  
}
#why-mobile-app .pos-content .left .img-lyr-3 {
  position: absolute;  
}
#why-mobile-app .pos-content .left .img-lyr-2 {
  position: absolute;  
}
#why-mobile-app .pos-content .left .img-lyr-1 {
  position: absolute;  
}
#why-mobile-app .pos-content .left #img4{
    position: absolute;
    z-index: 4;
    top: 124px;
    left: 161px;
}
.pos-btn-google-apple ul{
    list-style: none;
    display: flex;
    padding: 0;
}
.pos-btn-google-apple ul li {
    width: 30%;
}
.pos-btn-google-apple ul li img{
    width: 100%;
    padding: 10px 15px;
}
/**close style why app**/

/**open style why website**/
#img1-why-website img {
    width: 100%;
    position: absolute;
    z-index: 1;
    padding: 55px;
}
#img2-why-website img {
    position: absolute;
    top: 140px;
    right: 62px;
    width: 18%;
    z-index: 2;
}
#pos-search {
    width: 85%;
    overflow: hidden;
    margin: auto
}
.pos-cont-search .right {
    width: 50%;
    float: left;
    padding: 55px 0 55px 55px;
}
.pos-cont-search .left {
    width: 50%;
    float: left;
    padding: 55px 55px 55px 0;
}
.pos-cont-search .right .pos-icon-google-search{
   text-align: center;
}
.pos-cont-search .right .pos-icon-google-search img{
    width: 20%;
}
.pos-cont-search .right .pos-form-search form .form-group{
    position: relative;
}
.pos-cont-search .right .pos-form-search form .form-group input {
    width: 100%;
}
.pos-cont-search .right .pos-form-search form .form-group span {
    position: absolute;
    right: 10px;
    top: 5px;
}
.des p{
    text-align: center;
    color:#000;
    font-size: 20px;
}
/**close style why website**/

/**open style footer**/
#content-footer{
    width: 85%;
    margin: auto;
    overflow: hidden;
    margin-top: 30px;
}
#content-footer .foot-body .left {
    width: 50%;
    float: left;
}

.gradien-color-title-font   {
        background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
#content-footer .foot-body .left .foot-title h4 span {
    padding-right: 10px;
}
#content-footer .foot-body .left .body ul{
   list-style: none;
    padding: 0;
}
#content-footer .foot-body .left .body ul li{
    line-height: 30px;
}
#content-footer .foot-body .left .body ul li span{
    font-size: 20px;
    color: #000;
    padding-right: 10px;
}
#content-footer .foot-body .right {
    width: 50%;
    float: left;
}
#content-footer .foot-body .right .post-form form .form-group .text-input{
    width: 100%;
    border: none;
    border-bottom:#000 solid 1px;
}
#content-footer .foot-body .right .post-form form .form-group .text-input:focus{ 
    outline: none;
}
.btn-submit-pos .btn-submit span {
    padding: 10px 13px;
    border-radius: 60px;
    margin-left: 20px;
    border:solid 1px #000;
}
#content-footer .foot-header h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}
.btn-submit-pos .btn-submit {
    background: #fff;
    color:#000;
    border:0;
}
.btn-submit-pos .btn-submit:focus {
    outline: none;
}
/**close style footer**/

